<!doctype html>
<html lang="en">
<head>
  {{ partial "head_basics.html" . }}

  <link href="/css/post.css" rel="stylesheet" type="text/css">

</head>

<body data-type="post">

<div id="content">

  <header>
    {{ partial "header-nav.html" . }}

    <h1>{{ .Title }}</h1>
  </header>

  <section id="matter">

    <p class="meta post-date">Posted <time title="{{ .Date.Format "Jan 2, 2006" }}">{{ .Date.Format "2006-01-02" }}</time></p>

    {{ .Content }}

  </section> <!--//#post-->

</div> <!--//#content-->

{{ partial "footer.html" . }}

</body></html>
