{% extends "skeleton/_body.html" %}

<section id="blog-post">
{% block content_header %}

<header id="content-header">
    <h1>{{ page.title }}</h1>
    <time class="post-date"
      datetime="{{ page.created|date:"Ymd"}}">{{ page.created|date:"Y.m.d"}}</time>
</header>

{% endblock %}

<article id="post-content">
{% block content_body %}

  {% filter typogrify %}

  {% markdown %}

  {% block article %}
  {% endblock %}

  {% endmarkdown %}

  {% endfilter %}
</article>

{% endblock %}

</section><!--//#blog-post-->

{% block context_nav %}
{% include "skeleton/_context_nav.html" %}
{% endblock %}
