<footer>
  <nav class="social-media">
    Elsewhere:
    <a class="mastodon" rel="me" href="https://qoto.org/@jzacsh">Mastodon</a>,
    <a class="gitlab" rel="me" href="https://gitlab.com/jzacsh">Gitlab</a>,
    <a class="github" rel="me" href="https://github.com/jzacsh">Github</a>,
    <a class="twitter" rel="me" href="https://twitter.com/jzacsh">Twitter</a>,

    <a class="contact" href="/contact">chat</a>
  </nav>

  <p class="stale-stamp">
    Site last updated TAG_VERSION_DATE
    <em>(on <a href="TAG_VERSION_TREE">@TAG_VERSION_HASH</a>)</em>
  </p>
</footer>
