  <meta charset="utf-8" />
  <meta name="description" content="Jonathan Zacsh's personal website" />
  <meta name="author" content="Jonathan Zacsh" />
  <meta name="keywords" content="jzacsh Jonathan Zacsh" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>

  <title>jzacsh: {{ .Title }}</title>

  <!-- site analytics -->
  <script
    async
    defer
    data-domain="j.zac.sh"
    src="https://plausible.io/js/plausible.outbound-links.js"></script>

  <!-- Merriweather:400,700 -->
  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>

  <!--
    TODO: figure out where to put one-off custom styles...
  -->
  <link href="/css/index.css" rel="stylesheet" type="text/css">
  <link href="/css/artwork.css" rel="stylesheet" type="text/css">
