<!doctype html>
<html lang="en">
<head>
  {{ partial "head_basics.html" . }}

  <link href="/css/page.css" rel="stylesheet" type="text/css">

</head>

<body data-type="page">

<div id="content">

  <header>
    <h1>{{ .Title }}</h1>

    {{ partial "header-nav.html" . }}
  </header>

  <section id="matter">
    {{ .Content }}
  </section>
</div> <!--//#content-->

{{ partial "footer.html" . }}

</body></html>
