<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Jonathan Zacsh's personal website" />
  <meta name="author" content="Jonathan Zacsh" />
  <meta name="keywords" content="jzacsh Jonathan Zacsh" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>jzacsh: {{title}}</title>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7526798-5']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <!-- Merriweather:400,700 -->
  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
  <link href="/index.css" rel="stylesheet" type="text/css">
  <link href="/page.css" rel="stylesheet" type="text/css">
  <link href="/post.css" rel="stylesheet" type="text/css">
  <link href="/artwork.css" rel="stylesheet" type="text/css">
</head>
