<!--#include virtual="index_open.ssi.html" -->
<!--#include virtual="header.ssi.html" -->

{{contents}}

<div class="widget-gplus" style="text-align: center;">
  <div class="g-person"
       data-href="//plus.google.com/106377585049668973386"
       data-rel="author"></div>
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
</div>

<!--#include virtual="footer.ssi.html" -->
<!--#include virtual="index_close.ssi.html" -->
