/**
 * Basic styling for slides.
 */

body .slideshow {
  margin: 0 auto 0 auto;
  width: 620px;
}

p.base-slide {
  display: none;
}

p.slide a.prev {
  float: left;
}

p.slide a.next {
  float: right;
}

ul.slide-grid {
  padding: 10px;
  margin: 20px;
}

ul.slide-grid,
ul.slide-grid li {
  margin: 0;
  padding: 0;
  float: left;
}

ul.slide-grid li {
  list-style-type: none;
}
